package components

css footer() {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

templ PageFooter() {
	<footer class={ footer() }>
		<p>Contact</p>
	</footer>
}
