package layouts

templ BaseLayout() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>tech match</title>
		</head>
		<body>
			<header>
				<h1>Tech match</h1>
			</header>
			{ children... }
		</body>
	</html>
}
