package pages

import "github.com/mar-cial/home-app/internal/templates/layouts"

templ Homepage() {
	@layouts.BaseLayout() {
		<main>
			<header>
				<h2>This should be homepage</h2>
			</header>
		</main>
	}
}
